name: Rust

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build
        run: cargo build --verbose --manifest-path lila-docker-rs/Cargo.toml
      - name: Run tests
        run: cargo test --verbose --manifest-path lila-docker-rs/Cargo.toml
      - name: Check formatting
        run: cargo fmt --manifest-path lila-docker-rs/Cargo.toml -- --check
