name: Rust

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./command
    steps:
      - uses: actions/checkout@v5
      - name: Build
        run: cargo build --verbose
      - name: Run tests
        run: cargo test -- --test-threads=1
      - name: Clippy
        run: cargo clippy --all -- -D warnings
      - name: Check formatting
        run: cargo fmt -- --check
